<div class="container">
    <div class="seventh-div" style="margin-bottom: 5rem;" data-aos="fade-up">
        <h1 style="margin-bottom: 5rem;text-align: center;">Frequently Asked Questions</h1>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        01. IF I'M COMPLETELY NEW TO TRADING, WILL I UNDERSTAND THE MATERIAL?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        TRADeg Learning App advocates that it is easier teach someone from scratch rather than to
                        retrain. Retraining is a big challenge, removing old habits is very difficult. Yet not
                        impossible. The program contains a separate chapter for beginners. Where all most commonly
                        asked questions are answered - what is a candle, a trend, a flag, a channel, a short, a bid,
                        an ask. As well as - who are the sellers and buyers, how to choose a broker, in which market
                        to start, and much, much more.
                        According to the experiences of our students, even those whose level before training in the
                        program was equal to zero - achieved the desired results. TRADeg Learning
                        App provides a lot of simple training solutions for beginners; therefore, anyone can succeed
                        in the financial markets. All it takes is persistence and proper mentorship.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        02. WILL I BE ABLE TO COMMUNICATE WITH TRADEG LEARNING EDUCATORS AND ASK THEM QUESTIONS
                        PERSONALLY?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat accusamus debitis
                        architecto repudiandae! Beatae suscipit deleniti, corporis incidunt natus numquam velit quia
                        unde quae officiis voluptas culpa rerum inventore sint? Pariatur nostrum placeat expedita
                        similique quidem, sit magni vitae sunt?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        03. WHAT IS THE POINT OF HOMEWORK, AND HOW WILL IT HELP ME?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        04. CAN AN ORDINARY PERSON WITHOUT SPECIAL COMPUTER SKILLS DEAL WITH THE LEARNING PLATFORM
                        AND IMPLEMENT THE TOOLS THAT TRADEG LEARNING APP WILL TEACH?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collFive" aria-expanded="false" aria-controls="collFive">
                        05. EXAMPLES AND LEARNING WILL BE BASED ON WHICH MARKET AND TIMEFRAME?
                    </button>
                </h2>
                <div id="collFive" class="accordion-collapse collapse" aria-labelledby="heaFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        06. WHAT SUPPORT AND BY WHOM IT WILL BE PROVIDED TO ME THROUGHOUT THE LEARNING PROGRAM?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        07. I TRADE SMALL VOLUMES, BUT I WANT TO INCREASE THEM. HOW WILL PARTICIPATING IN THE
                        PROGRAM HELP ME WITH THIS?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        08. HOW IS THIS PROGRAM DIFFERENT FROM ANY AVERAGE TRADING COURSE?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        09. WILL I BE ABLE TO LEARN SCALPING WHILE STUDYING IN THE PROGRAM?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        10. ISN'T TRADING JUST ANOTHER FORM OF GAMBLING?
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        11.HOW LONG DOES IT TAKE TO COMPLETE THE LEARNING PROGRAM?
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nulla tempora nihil
                        aspernatur quaerat, quo quasi ullam quidem cumque nisi molestias. Neque doloremque sapiente
                        repudiandae, aliquid temporibus nobis reiciendis doloribus architecto in nihil eaque, eius
                        culpa non a deleniti suscipit amet dolorum libero earum? Tempora nam dicta distinctio
                        tempore sit?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
