<div class="container py-5 py-lg-0" id="home">
    <div class="row">
        <div class="col-md-6 row justify-content-center align-items-lg-center" data-aos="fade-right">
            <div
                class="col row justify-content-center gap-3 d-flex align-items-lg-center mh-100 h-lg-50 d-inline-block">
                <h2 class="first-t">Up Your <span style="color:#03a413">Financial Skills</span></h2>
                <p class="fs-6">Learn Stock Market Trading from N.I.S.M & CFA Certified Financial experts. Download
                    Tradeg Earning app today.</p>
                <div class="btns col gap-4 d-flex">
                    <a href="#courses">
                        <button class="btn btn-primary">Get Started</button>
                    </a>
                    <a href="#courses">
                        <button class="btn btn-primary btn-hide">Free Trial</button>
                    </a>
                </div>
                <div class="first-l row">
                    <div class="col-4">
                        <img src="assets/first-1.png" alt="">
                        Interactive Sessions
                    </div>
                    <div class="col-4">
                        <img src="assets/first-2.png" alt="">
                        Career-Oriented
                    </div>
                    <div class="col-4">
                        <img src="assets/first-3.png" alt="">
                        Creative Thinking
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 first-img" data-aos="fade-left">
            <img src="assets/first.png" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center order-2 order-md-1">
            <div class="first-img">
                <img src="assets/second.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center order-1 order-md-2">
            <div>
                <h2 class="second-head">Welcome to <span style="color:#03a413">TRADeg Financial</span></h2>
                <p>TRADogs stock marketing and any firm were one of the fastest growing TRegis stock marketing and
                    analysis, were one of the fastest growing organization in India. The purpose of TRAD is to provide
                    the right way of trading to the folders and perfect training to the one who works. The scaling days
                    on Today's traders as capable as professional traders. Our motto temporal Traces of India, and We
                    are focused to prod Techriced over of the meet only be well as rings and tools to Technical overview
                    of the market on a daily basis as well as Learnings and tools to Retail Traders in the country.</p>
                <p id="readpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, dolores tempora!
                    Dignissimos, nostrum doloremque voluptas rem tenetur repellendus fugit, recusandae unde modi aut
                    vel, delectus magnam necessitatibus? Vero, deserunt voluptatibus!</p>
                <button class="btn btn-primary" id="readmore" (click)="readmore()">Read More</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div>
                <h2 class="second-head">Learn Investment & Trading with <span style="color:#03a413">Industry
                        Experts</span></h2>
                <p>"Take control of your front our compacting opp from Take control of your financial future with our
                    comprehensive financial leaning app from Stock investment and Mutual und Stack trading & Scoping we
                    have everything you need to maintain Tracked lening opp is designed to empower you with the
                    knowledge and skils you d everyone."</p>
                <p id="readpara1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, dolores tempora!
                    Dignissimos, nostrum doloremque voluptas rem tenetur repellendus fugit, recusandae unde modi aut
                    vel, delectus magnam necessitatibus? Vero, deserunt voluptatibus!</p>
                <button class="btn btn-primary" (click)="readmore1()">Read More</button>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div class="second-img">
                <img src="assets/third.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>

</div>