<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="btn-outline-dark navbarbtn">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">STOCK MARKET COURSES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SCREENERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TRADING TOOLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">KNOWLEDGE BASE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">JOB ORIENTED COURSES</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ANALYSIS TOOL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown dropdown-menu-right">
                    <a class="dropdown-item" href="#">NIFTY OPTION CHAIN</a>
                    <a class="dropdown-item" href="#">FOREX COPY TRADING</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">FOREX HEAT MAP</a>
                    <a class="dropdown-item" href="#">NIFTY OI</a>
                    <a class="dropdown-item" href="#">LIVE OHLC</a>
                    <a class="dropdown-item" href="#">FOREX MARKET SENTIMENT</a>
                    <a class="dropdown-item" href="#">BANK NIFTY OPTION CHAIN</a>
                    <a class="dropdown-item" href="#">SECTOR WISE MARKET</a>
                    <a class="dropdown-item" href="#">FOREX TECHNICAL SIGNALS</a>
                    <a class="dropdown-item" href="#">BANKNIFTY OI</a>
                    <a class="dropdown-item" href="#">ECONOMIC CALENDER</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
