<div id="page">
    <app-navbar></app-navbar>
    <div class="mt-4 d-flex justify-content-between align-items-center px-1 px-md-5">
        <img src="assets/logo.png" alt="" class="img-fluid" style="max-height: 50px;">
        <div class="mt inputs">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control " placeholder="Search for investment, trading & analysis">
        </div>
        <button class="btn btn-primary">Log In/Sign up</button>
    </div>
    <app-hero></app-hero>
    <h2 class="bar text-center bg-primary py-2 text-white h4">
        Financial Courses by CFA & N.I.S.M Certified Finance Professionals
    </h2>
    <div class="container py-5">
        <div class="row g-5 flex-row mb-5">
            <app-coursediv class="col-md-4"></app-coursediv>
            <app-coursediv class="col-md-4"></app-coursediv>
            <app-coursediv class="col-md-4"></app-coursediv>
        </div>
        <div class="row g-5 flex-row mb-5">
            <app-coursediv class="col-md-4"></app-coursediv>
            <app-coursediv class="col-md-4"></app-coursediv>
            <app-coursediv class="col-md-4"></app-coursediv>
        </div>
        <div class="row g-5 flex-row">
            <app-coursediv class="col-md-4"></app-coursediv>
            <app-coursediv class="col-md-4"></app-coursediv>
            <app-coursediv class="col-md-4"></app-coursediv>
        </div>
    </div>
    <h2 class="bar text-center bg-primary py-2 text-white h4">
        Explore a new horizon Technology with TradeG
    </h2>
    <app-exploresection></app-exploresection>
    <app-sixthdiv></app-sixthdiv>
    <app-accordian></app-accordian>
    <hr style="color:gray">
    <app-footer></app-footer>
</div>