<div class="col-md-12 col-sm-12 col-12 border-1 rounded-3 border p-4 border-dark gap-2 gap-md-0 d-flex flex-column" id="courses">
    <div class="col-12 d-flex gap-3 justify-content-start align-items-center">
        <p class="header h6 text-primary">
            Stock Investment Live Master Course
        </p>
        <button class="text-danger bg-transparent border-1 border-dark rounded-1 p-2 fw-bold">
            LIVE
        </button>
    </div>
    <div class="col-12 d-flex flex-row gap-5 text-secondary">
        <p><i class="fa fa-flag" aria-hidden="true" style="margin-right: 5px;"></i>15-01-2023</p>
        <p><i class="fa fa-clock-o" aria-hidden="true" style="margin-right: 5px;"></i>07:00 PM</p>
    </div>
    <div class="h5" style="font-size: 0.8rem;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur nulla veritatis quae
        voluptas inventore, eius reprehenderit obcaecati soluta eaque, sed illo esse velit iste.
    </div>
    <div class="d-flex flex-row justify-content-between mb-4">
        <div class="mentors">
            <p style="font-size: 0.8rem;font-weight: 600;">Mentors</p>
            <div class="mentor-acc">
                <div class=" position-absolute acc-1 rounded-circle p-1" style="background-color: #f2b63e; color: #d68715">K.S</div>
                <div class=" position-absolute acc-2 rounded-circle p-1" style="background-color: #f39aae; color:#981c38;">A.J</div>
                <div class=" position-absolute acc-3 rounded-circle p-1" style="background-color: #95d2e7; color: #1a9dca;">M.K</div>
                <div class=" position-absolute acc-4 rounded-circle p-1" style="background-color: #a55ffe; color: #6713d2;">K.J</div>
            </div>
        </div>
        <div class="stock-batch">
            <div class="batch-head">
                <p>Batch Progress</p>
                <p>78% Seats Filled</p>
            </div>
            <div class="batch-progress">
                <div class="batch-bar"></div>
            </div>
        </div>
    </div>
    <div class="stock-btn">
        <button class="btn explore-btn">
            Explore More
        </button>
    </div>
</div>