<div class="container">
    <p class="first-t text-center font-weight-bold fs-1">BENEFITS OF OUR ONLINE <br><span
            class="text-success fs-3">Finance School</span></p>

    <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <ion-icon name="people-outline" class="display-6 text-success text-white p-1 rounded-2"
                style="background-color: #03a413;"></ion-icon>
            <h5>Social Interaction</h5>
            <p>Our courses offer forums or other opportunities to connect with other students, allowing you to build a
                network of professionals in your field.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <ion-icon name="apps-outline" class="display-6 text-success text-white p-1 rounded-2"
                style="background-color: #03a413;"></ion-icon>
            <h5>Social Interaction</h5>
            <p>Our courses offer forums or other opportunities to connect with other students, allowing you to build a
                network of professionals in your field.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <ion-icon name="checkmark-done-circle-outline" class="display-6 text-success text-white p-1 rounded-2"
                style="background-color: #03a413;"></ion-icon>
            <h5>Social Interaction</h5>
            <p>Our courses offer forums or other opportunities to connect with other students, allowing you to build a
                network of professionals in your field.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <ion-icon name="trending-up-outline" class="display-6 text-success text-white p-1 rounded-2"
                style="background-color: #03a413;"></ion-icon>
            <h5>Social Interaction</h5>
            <p>Our courses offer forums or other opportunities to connect with other students, allowing you to build a
                network of professionals in your field.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <ion-icon name="flash-outline" class="display-6 text-success text-white p-1 rounded-2"
                style="background-color: #03a413;"></ion-icon>
            <h5>Social Interaction</h5>
            <p>Our courses offer forums or other opportunities to connect with other students, allowing you to build a
                network of professionals in your field.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <ion-icon name="book-outline" class="display-6 text-success text-white p-1 rounded-2"
                style="background-color: #03a413;"></ion-icon>
            <h5>Social Interaction</h5>
            <p>Our courses offer forums or other opportunities to connect with other students, allowing you to build a
                network of professionals in your field.</p>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center font-weight-bold fs-2" style="color: #03a413;">Reasons: Why you should learn
        <span>
            Finance at TRADeg Financial
        </span>
    </h2>

    <div class="row fifth-grid mt-5">
        <div class="col-lg-4 col-md-6 mb-4 flex-row d-flex justify-content-center align-items-center gap-2"
            data-aos="fade-up">
            <div class="fifth1 text-white" style="background-color: blueviolet;">
                1
            </div>
            <p class="font-weight-700 h6 d-flex m-auto">NISM / CFA CERTIFIED EDUCATORS</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 flex-row d-flex justify-content-center align-items-center gap-2"
            data-aos="fade-up">
            <div class="fifth1 text-white" style="background-color: #fdbd6f;">
                2
            </div>
            <p class="font-weight-700 h6 d-flex m-auto">ONE TO ONE SESSIONS WITH CERTIFIED MARKET EXPERTS</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 flex-row d-flex justify-content-center align-items-center gap-2"
            data-aos="fade-up">
            <div class="fifth1 text-white" style="background-color: #ff8989;">
                3
            </div>
            <p class="font-weight-700 h6 d-flex m-auto">EXTENSIVE STUDY MATERIALS PREPARED BY MARKET EXPERTS</p>
        </div>
    </div>
    <div class="row fifth-grid">
        <div class="col-lg-4 col-md-6 mb-4 flex-row d-flex justify-content-center align-items-center gap-2"
            data-aos="fade-up">
            <div class="fifth1 text-white" style="background-color: #806dfd;">
                4
            </div>
            <p class="font-weight-700 h6 d-flex m-auto">DIVERSIFIED COURSE MODULES</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 flex-row d-flex justify-content-center align-items-center gap-2"
            data-aos="fade-up">
            <div class="fifth1 text-white" style="background-color: #ff7aa2;">
                5
            </div>
            <p class="font-weight-700 h6 d-flex m-auto">6 MONTHS DOUBT SUPPORT AFTER COURSE COMPLETION</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 flex-row d-flex justify-content-center align-items-center gap-2"
            data-aos="fade-up">
            <div class="fifth1 text-white" style="background-color: #62d8fc;">
                6
            </div>
            <p class="font-weight-700 h6 d-flex m-auto">LIFETIME FREE ANALYSIS SERVICES & TRADING TOOLS</p>
        </div>
    </div>
</div>
<div class="col text-white my-5" style="background-color: #23007a; ">
    <div class="row">
        <div class="col-md-12 text-center font-weight-700">
            <h1 class="display-4" style="font-size: 3rem;">We Help You to</h1>
        </div>
        <div class="col-md-12 text-center">
            <img src="assets/fifth.png" alt="" class="img-fluid">
        </div>
    </div>
</div>